[package]
name = "trawls"
version = "0.1.7"
description = "Trawls - RAW based startrail processing"
authors = [ "Christopher Schmidt" ]
license = ""
repository = ""
default-run = "trawls"
edition = "2018"
build = "src/build.rs"

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = [ "derive" ] }
tauri = {version = "1.0.0-beta.8",features = ["api-all"] }
chrono = { version = "0.4", features = [ "serde" ] }
arrayvec = "0.7.1"
num = "0.4.0"
rexif = "0.7.3"
rawloader = "0.37.0"
num_cpus = "1.13.0"
rayon = "1.5.1"
dng-rs = { git = "https://github.com/Silberschleier/libdng-rust" }
tempfile = "3.2.0"
base64 = "0.13.0"
itertools = "0.10.1"

[build-dependencies]
tauri-build = { version = "1.0.0-beta.3" }

[features]
custom-protocol = [ "tauri/custom-protocol" ]
default = [ "custom-protocol" ]

[[bin]]
name = "trawls"
path = "src/main.rs"
