name: "test-on-pr"
on: [pull_request]

jobs:
  test-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-2022]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
      - name: install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Use Rust cache
        uses: Swatinem/rust-cache@v1
        with:
          working-directory: src-tauri
      - name: install tauri bundler
        run: cargo install tauri-bundler
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev webkit2gtk-4.0 libappindicator3-dev librsvg2-dev patchelf
      - name: Disable updater
        run: |
          cat src-tauri/tauri.conf.json | jq .tauri.updater.active=false > tauri.conf.json.tmp
          rm src-tauri/tauri.conf.json
          mv -v tauri.conf.json.tmp src-tauri/tauri.conf.json
      - name: install app dependencies and build it
        run: yarn && yarn tauri:build
        env:
          CXXFLAGS: --std=c++14
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v3
          with:
            name: bundle
            path: |
              src-tauri/target/release/bundle/msi/trawls*.msi
              src-tauri/target/release/bundle/appimage/trawls*.AppImage
              src-tauri/target/release/bundle/macos/trawls.app
